{{define "main"}}
<p>This is the login page!</p>
<form method="POST">
	<input id="username" type="text" name="username" value="" />
	<input type="submit" value="Submit" />
</form>
<script>
function getVal() {
	console.log(document.getElementById("username").value)
}
</script>
{{end}}